body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f5;
    line-height: 26px;
}
.header {
    width: 100%;
    height: 120px;
    background: rgb(35, 21, 18);
    position: right;
}
.logo {
    width: 100%;
    height: 120px;
    background: rgb(35, 21, 18);
    position: left;
}

ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 100px;
    margin-top: 32px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: rgb(186, 22, 22);
    font-weight: bold;
    transition: 0.3s;
}

ul li a:hover {
    color: rgb(140, 51, 51);
}

.buttons{
    margin-top: 200px;
    border: none;
    background: none;
    cursor: pointer;
}