body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f5;
    line-height: 26px;
}
.header {
    width: 100%;
    height: 100px;
    background: rgb(35, 21, 18);
    position: right;

}
.logo {
    width: 100%;
    height: 100px;
    background: rgb(35, 21, 18);
    position: left;
    margin-bottom: -150px;
}

ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 100px;
    margin-top: 73px;
    font-size: 25px;
}

ul li a {
    gap: 60px;
    text-decoration: none;
    color: rgb(186, 22, 22);
    font-weight: bold;
    transition: 0.3s;
}

ul li a:hover {
    color: rgb(202, 68, 68);
}

.buttons button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 10px;
    align-items: 40px 40px;
    padding: 40px 50px;
    margin-top: 150px;
    margin-left: 100px;
}

.buttons img {
    width: 275px;
    height: 300px;
}

.button_text_1 {
    font-size: 24px;
    color: rgb(115, 79, 71);
    font-weight: bold;
    margin-top: 10px;
    font-family: 'adelia', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button_text_2 {
    font-size: 24px;
    color: rgb(115, 79, 71);
    font-weight: bold;
    margin-top: 10px;
    font-family: 'adelia', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.gallery {
    display: flex;
    justify-content: right;
    gap: 30px;
    margin: 40px 50px;
    margin-top: -520px;
}

.gallery img {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.footer {
    background: rgb(115, 79, 71);
    color: white;
    padding: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer ul li {
    margin: 0 15px;
}

.footer ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer p {
    margin: 20px 0;
    font-weight: bold;
}

