body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f5;
    line-height: 26px;
}
.header {
    width: 100%;
    height: 120px;
    background: rgb(35, 21, 18);
    position: right;
}
.logo {
    width: 100%;
    height: 120px;
    background: rgb(35, 21, 18);
    position: left;
    margin-bottom: -115px;
}

ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 110px;
    margin-top: 32px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: rgb(186, 22, 22);
    font-weight: bold;
    transition: 0.3s;
}

ul li a:hover {
    color: rgb(202, 68, 68);
}

.buttons button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 10px;
    align-items: 30px 40px;
    padding: 20px 55px;
    margin-top: 110px;
    margin-left: 50px;
}

.buttons img {
    width: 300px;
    height: 300px;
}

.gallery {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin: 40px 40px;
    margin-top: -410px;
}

.gallery img {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.footer {
    background: rgb(35, 21, 18);
    color: white;
    padding: 20px;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer ul li {
    margin: 0 15px;
}

.footer ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer p {
    margin: 20px 0;
}

